<nav class="site-nav">
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/modules/foundation/' | relative_url }}">Foundations</a></li>
    <li><a href="{{ '/modules/science/' | relative_url }}">Scientific Literature</a></li>
    <li><a href="{{ '/modules/proposal/' | relative_url }}">Proposal Writing</a></li>
    <li><a href="{{ '/modules/ethics/' | relative_url }}">Research Ethics</a></li>
    <li><a href="{{ '/syllabus' | relative_url }}">Syllabus</a></li>
    <li><a href="{{ '/schedule' | relative_url }}">Schedule</a></li>
  </ul>
</nav>
